.parent{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo{
    padding-bottom: 30px;
    width: 99px;
    height: 31px;
}
.left{
    width: 50%;
    height: 1000px;
    background-color: pink;

}
.right{
    width: 50%;
    height: 1000px;
    background-color: #FAFAFC;
      display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.right1{
    width: 80%;
    height: 80%;
    background-color: #FAFAFC;
    display: flex;
    flex-direction: column;
}
.naslov{
    font-size: 25px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 
}
.podnaslov{
    font-size: 17px;
padding-bottom: 20px;

}

.btn{
    width: 416px;
    height: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 20px;
  
}
.btnslika{
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 15px;
    margin-right: 7px;
    border-radius: 50%;
}
.email{
    width: 416px;
    height: 48px;

    background-color: #FAFAFC;
    color: #b6b6b7;

  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
margin-bottom: 20px;
}
.lozinka{
    width: 416px;
    height: 48px;
   
    background-color: #FAFAFC;
    color: #b6b6b7;

  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
}
.malitextovi{
    width: 620px;
    height: 50px;
margin-bottom: 50px;
    display: flex;
    gap: 150px;
}
.malitext1{
    color: #b6b6b7;
}
.malitext2{
    color: #2559D2;
}
.prijavabtn{
    width: 416px;
    height: 48px;
    border-radius: 5px;
    background-color: #2559D2;
    border: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 20px;
  
}
.malitextovi2{
    width: 416px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.malitext3{
    color: #b6b6b7;
}
.malitext4{
    color: #2559D2;
}







.parent2{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
.logo2{
    padding-bottom: 30px;
    width: 99px;
    height: 31px;
}
.left2{
    width: 50%;
    height: 1000px;
    background-color: rgb(250, 160, 175);

}
.right2{
    width: 50%;
    height: 1000px;
    background-color: #FAFAFC;
      display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.right12{
    width: 80%;
    height: 80%;
    background-color: #FAFAFC;
    display: flex;
    flex-direction: column;
}
.naslov2{
    font-size: 25px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 
}
.podnaslov2{
    font-size: 17px;
padding-bottom: 20px;

}
.email2{
    width: 416px;
    height: 48px;

    background-color: #FAFAFC;
    color: #b6b6b7;

  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
margin-bottom: 20px;
}
.ime{
    width: 416px;
    height: 48px;

    background-color: #FAFAFC;
    color: #b6b6b7;

  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
margin-bottom: 20px;
}
.lozinka1{
    width: 416px;
    height: 48px;
   
    background-color: #FAFAFC;
    color: #b6b6b7;
    margin-bottom: 20px;
  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
}
.lozinka2{
    width: 416px;
    height: 48px;
   
    background-color: #FAFAFC;
    color: #b6b6b7;
margin-bottom: 50px;
  border-top: #FAFAFC;
  border-left: #FAFAFC;
  border-right: #FAFAFC;
display: flex;
}
.prijavabtn2{
    width: 416px;
    height: 48px;
    border-radius: 5px;
    background-color: #2559D2;
    border: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 20px;
  
}
.malitextovi3{
    width: 416px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.malitext5{
    color: #b6b6b7;
}
.malitext6{
    color: #2559D2;
}
.velikaslika2{
    object-fit: cover;
}