* {

    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  .quiz-container {
    padding: 20px;

  }
  
  .quiz-card {
    background-color: #2559D2;
       width: 1100px;
    height: 572px;
    color: #fff;
   
    border-radius: 16px;
 display: flex;
 align-items: center;
margin: 100px;
padding-top: 50px;
 flex-direction: column;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .p1{
    color: #87a4e7;
    
  }
  .quiz-card h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  
  .quiz-card p {
    font-size: 16px;
    line-height: 1.6;

  }
  
  .emoji {
    width: 230px;
    height: 230px;
    margin-bottom: 24px;
  }
  
  .start-button {
    background-color: #fff;
    color: #1e68f2;
    border: none;
    width: 360px;
    height: 58px;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .start-button:hover {
    background-color: #e6e6e6;
  }