*{
  font-family: 'Steradian Trial', sans-serif;
}
.parent10{
  background-image: url(./Rectangle\ 2\ \(1\).png);
  width: 1440px;
  height: 1024px;
    display: flex;
 justify-content: center;
 align-items: center;
}
.parent{
display: flex;
flex-direction: column;
width: 402px;
height: 504px;
border-radius: 16px;
background-color: #FAFAFC;

padding: 60px;
}
.logo{
width: 70px;
height: 23px;
}
.gornji{
  height: 80%;
width: 402px;
}

.glavnitekst{
font-size: 30px;
font-weight: 500;
color: #000000;
}
.donjitekst{
  font-size: 14px;
  color: #00000099;
  font-weight: 400;
  padding-top: 0px;
}
.donji{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
gap: 14px;
  width: 402px;
  height:20%;
 
}
.btn1{
width: 130px;
height: 42px;
color: #2559D2;
border-radius: 8px;
border: none;
}
.btn2{
  width: 200px;
  height: 42px;
  background-color: #2559D2;
  color: white;
  border-radius: 8px;
  border: none;
  }
  .bodovidiv{
    width: 402px;
gap: 9px;
   display: flex;
   flex-direction: row;
    height: 13%;

  }
  .boarddiv{
    width: 402px;
    gap: 9px;
    display: flex;
    flex-direction: row;
   
    height: 13%;
  
  }
  .bodoviimg{
    width: 24px;
    height: 24px;
    padding-top: 10px;
  }
  .boardimg{
    width: 24px;
    height: 24px;
  padding-top: 10px;
  }
  .bodovi2{
    font-weight: 600;
  }
  .bodovi1{
    color: #00000099;
  }
  .board2{
    font-weight: 600;
  }
  .board1{
    color: #00000099;
  }